# Used at Flutter build/run time (not bundled as a secret file on device):
#   flutter build web --dart-define-from-file=../private/flutter.env
#   flutter build apk --dart-define-from-file=../private/flutter.env
API_BASE=https://ebubeconnect.com/backend
